//colours
$colour-primary:  #252d30;
$colour-secondary: #ffffff;
$colour-ui-primary: #95c5ab;
$colour-ui-accent: #f07d75;
$colour-ui-shadow: rgba(0, 0, 0, 0.1);

//Typography
$font-primary: lato, sans-serif;
//Available in 400, 600.
$font-heading: open-sans, sans-serif;
//Available in 300, 400, 500, 700.