//colours

$colour-primary:  #252d30;
$colour-secondary: #ffffff;
$colour-ui-primary: #D1C5BC;
$colour-ui-accent: #383C42;
$colour-ui-shadow: rgba(0, 0, 0, 0.1);

//Typography

$font-primary: "Open Sans", sans-serif;