//colours
$colour-primary:  #252d30;
$colour-secondary: #ffffff;
$colour-ui-primary: #ADE5C6;
// #95c5ab
// #ecdb7b
$colour-ui-accent: #ecdb7b;
$colour-ui-warning: #FFC2C2;
$colour-ui-shadow: rgba(0, 0, 0, 0.1);

$shadow: 6px 10px 11px 0px $colour-ui-shadow;

//Typography
$font-primary: lato, sans-serif;
//Available in 400, 600.
$font-heading: open-sans, sans-serif;
//Available in 300, 400, 500, 700.